.collapsible-item {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 5px;
  color: #505151;
}
.collapsible-item .title {
  padding: 10px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#c3def7));
  background-image: -webkit-linear-gradient(top, #ffffff, #c3def7);
  background-image: linear-gradient(to bottom, #ffffff, #c3def7);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.collapsible-item .title .icon {
  float: right;
  height: 20px;
  width: 20px;
  font-size: 19px !important;
  padding-right: 1px;
}
.collapsible-item .title .iconleft {
  float: left !important;
}
.collapsible-item .title.disabled {
  background: #eee;
  color: #999;
  cursor: text;
}
.collapsible-item .body {
  position: relative;
  top: -4px;
  max-height: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: -1;
  -webkit-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}
.collapsible-item .body .content {
  background-color: #e1effb;
  padding: 10px 15px 5px 15px;
  line-height: 20px;
}
.collapsible-item.open .body {
  max-height: 1000px;
  z-index: 1;
}
.collapsible-item.open .title {
  border-radius: 5px 5px 0 0;
}
/*.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}*/