@mixin logo-lg{
  font-family: Arial;
  font-size: 75px;
  color: #51A0D1;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 85px;
  text-decoration: none;
}
@mixin logo-sm{
  font-family: Arial;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 30px;
  text-decoration: none;
}

$textcolor: #505151;
$mainwidth: 1170px;

body{
  font-family: arial;
}

a {
  outline:none !important;
}

.tab-arrow {
    position: absolute;
    top: -2px;
    height: 30px;
    width: 180px;
    background-image: url('/images/tariff-Sprites.png');
    background-position: 0 0px;
  }
.tariff-arrow{
    left: 426px;
  }
.contacts-arrow{
    left: 858px;
  }
.promo-arrow{
    left: 313px;
  }
.faq-arrow{
    left: 707px;
  }
.area-arrow{
    left: 556px;
  }
.about-arrow{
    left: 1004px;
  }