<div id="footer">
  <div class="footer__content">
  <div class="logo">
    <a href="#/">leb</a>
  </div>
  <div class="telefons">
    <div class="sels">
      <lable>Отдел продаж:</lable>
      <lable>(044) 585-11-11</lable>
      <lable>(093) 585-11-11</lable>
    </div>
    <div class="help">
      <lable>Техподдержка:</lable>
      <lable>(044) 585-11-10</lable>
      <lable>(093) 585-11-10</lable>
    </div>
  </div>
  <div class="right-side">
  <div class="call-img"></div>
      <lable>(04593) 521-29-21</lable>
  </div></div>
  <hr>
  <div class="company-adress">
  Главный офис – г. Борисполь, ул. Киевский шлях 9 в
  </div>
</div>