<div id="header">
  <div class="logo">
    <a href="#/">leb</a>
  </div>
  <div>
    <div class="first-line">
      <input type="button" value="Подключится">
      <input type="text" placeholder="Номер счета">
      <input type="text" placeholder="Пароль">
      <input type="button" value="Войти">
      <div class="call-img"></div>
      <lable>(04593) 521-29-21</lable>
    </div>
    <div class="second-line">
      <ul>
        <li><a href="#/promo">Акции</a></li>
        <li><a href="#/tariffs">Тарифы</a></li>
        <li><a href="#/area">Покрытие</a></li>
        <li><a href="#/faq">Вопрос/Ответ</a></li>
        <li><a href="#/contacts">Контакты</a></li>
        <li><a href="#/about">О компании</a></li>
      </ul>
     <!-- <div class="language"><a href="" class="ua">Укр</a>
        <a href="" class="ru">Рус</a></div>
    </div>-->
  </div>
</div>