<section id="about">
  <div class="tab-arrow about-arrow"></div>
  <div class="about__container">
    <div class="img"><img src="/images/about/main-img.jpg" alt="main-img.jpg"></div>
    <h1>Интернет провайдер «<span>LEB</span>»</h1>
    <h2>Мы – динамично развивающийся провайдер Интернет, предоставляющий услуги практически во всех сегментах сетевых и Интернет-технологиях:</h2>
    <ul>
      <li>Доступ к Интернет через оптические линии.
      <li>Подключение к Интернет организаций и домашних пользователей.</li>
      <li>Регистрация доменов и хостинг.</li>
      <li>Построение офисных и домашних локальных сетей, и их последующее сопровождение.</li>
      <li>Создание телефонных сетей и установка мини-АТС.</li>
      <li>Обслуживание, модернизация (upgrade) и ремонт компьютеров.</li>
      <li>Обучение работе на компьютере и в Интернет.</li>
    </ul>
  </div>
</section>