<section id="home-page" class="page">
  <div class="slider__container">
    <img src="/images/main-page/slider.jpg" alt="slider">
  </div>
  <div class="news__container">
    <div class="header">
      <h1>Новости</h1>
    </div>
    <div class="col-cell-lg">
      <div class="img__container"><img src="/images/main-page/news-img-1.png" alt=""></div>
      <p class="news-header">«Да здравствует осень»</p>
      <p class="news-date">20.12.2015</p>
      <div class="news-body">
        Уважаемые абоненты! <br>
        С 01 ноября 2012 года вступают в силу новые тарифные планы. Сущ
      </div>
    </div>
    <div class="col-cell-lg">
      <div class="img__container"><img src="/images/main-page/news-img-1.png" alt=""></div>
      <p class="news-header">«Да здравствует осень»</p>
      <p class="news-date">20.12.2015</p>
      <div class="news-body">
        Уважаемые абоненты! <br>
        С 01 ноября 2012 года вступают в силу новые тарифные планы. Сущ
      </div>
    </div>
    <div class="col-cell-lg">
      <div class="img__container"><img src="/images/main-page/news-img-1.png" alt=""></div>
      <p class="news-header">«Да здравствует осень»</p>
      <p class="news-date">20.12.2015</p>
      <div class="news-body">
    Уважаемые абоненты! <br>
        С 01 ноября 2012 года вступают в силу новые тарифные планы. Сущ
      </div>
    </div>
  </div>
  <div class="map__container">
    <div class="header">
      <h1>Карта покрытия</h1>
    </div>
    <div class="map-img__container"><img src="/images/main-page/map.jpg" alt="Карта покрытия"></div>
  </div>
  <div class="pay__container">
    <div class="header">
      <h1>Способ оплаты</h1>
    </div>
    <ul>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
</section>